<p>
  customer works!
  <p-dataTable [value]="customers" [editable]="true">
    <p-column field="name" header="First Name"></p-column>
    <p-column field="address" header="Address"></p-column>
    <p-column field="creditLimit" header="Limit" [editable]="true"></p-column>
    <p-column field="discount" header="Discount" [editable]="true" pattern= "[0-9]" >
      <ng-template let-col let-customer="rowData" pTemplate="editor">
        <p-inputMask [(ngModel)]="customer[col.field]" mask="99" slotChar="0"></p-inputMask>
      </ng-template>
    </p-column>
  </p-dataTable>
</p>
